@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color:rosybrown;
    color: white;
    display: flex;
    font-family: "Poppins", sans-serif;
    margin: 0;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.pw-container h1 {
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pw-container {
    background-color: rgb(141, 105, 105);
    width: 400px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}


.pw-header {
    
    padding: 1rem;
}

.pw {
    width: 100%;
    height: 70px;
    background-color: rosybrown;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 1.5rem;
    padding: 1rem;
}

.pw button {
    background-color: rgb(44, 20, 20);
    cursor: pointer;
    border: none;
    color: white;
    font-family:inherit;
    padding: 0.5rem 1rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    letter-spacing: 2px;
    transition: opacity 0.2s ease, transform 0.2s ease;
    opacity: 0;
}

.pw:hover button {
    opacity: 1;
    transform: translate(0,50%)
}

.pw-body {
    padding: 0 1rem 1rem;
}

.form-control {
    color: #eee;
    display: flex;
    justify-content: space-between;
    margin: 0.75rem 0;
}

.generate {
    display: block;
    border: none;
    background-color: ivory;
    color: rosybrown;
    font-weight: bold;
    padding: 0.75rem;
    font-size: 1.5rem;
    width: 100%;
    letter-spacing: 2px;
    margin-top: 1rem;
    cursor: pointer;
}